@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #0DFF92;
    --dark-color:#222222;
    --light-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.title {
    font-size: 3em;
    margin: 0.8em 0;
}

.text-light {
    color: #f0f0f0;
}

.textbox {
    width: 40%;
    min-width: 300px;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox input, .textbox select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    width: calc(100% - 2px);
    padding: 18px;
    margin-top: 20px;
    background: #1eb2a6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #27c4b7;
}

.auth-links {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.auth-link {
    color: #136b7f;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    display: inline-block;
}

.auth-link:hover {
    text-decoration: underline;
    color: #17c6e5;
}

.error-msg {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-group {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.input-group .error {
    color: #ff2a66;
    font-size: 0.8em;
    position: absolute;
    bottom: -20px;
    left: 0;
    margin-top: 2px;
}

.input-group input.error,
.input-group select.error {
    border-color: #ff2a66;
}

.error-msg {
    color: #ff2a66;
    text-align: center;
    margin-bottom: 15px;
}

.textbox input, .textbox select {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.textbox input:focus, .textbox select:focus {
    outline: none;
    border-color: #1eb2a6;
}

.textbox input, 
.textbox select, 
.textbox button {
    width: 100%;
    box-sizing: border-box;
}